@keyframes trails {
  0% {
    stroke-dasharray: 120 12 40;
  }

  50% {
    stroke-dasharray: 100 220 12;
  }

  100% {
    stroke-dasharray: 100 12 40;
  }
}

@keyframes rotatingcircles {
  0% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
  }
}

.background {
  stroke-width: 1.5px;
  fill: var(--daaps-green);
  stroke: var(--daaps-yellow);
  stroke-miterlimit: 10;
  transition-duration: 1s;
}

.background svg {
  height: 100%;
}

.st0{stroke:var(--daaps-yellow);stroke-miterlimit:10;}
.st1{fill:none;stroke:var(--daaps-yellow);stroke-width:2.126;stroke-miterlimit:10;stroke-dasharray:168.5397,168.5397;}
.st2{fill:none;stroke:var(--daaps-yellow);stroke-width:2.126;stroke-miterlimit:10;stroke-dasharray:419.691,419.691;}
.st3{fill:none;stroke:var(--daaps-yellow);stroke-width:2.126;stroke-miterlimit:10;stroke-dasharray:293.7089,293.7089;}
.st4{fill:none;stroke:var(--daaps-yellow);stroke-width:2.126;stroke-miterlimit:10;stroke-dasharray:114.688,114.688;}
.st5{fill:none;stroke:var(--daaps-yellow);stroke-width:2.126;stroke-miterlimit:10;stroke-dasharray:224.2239,224.2239;}
.st6{fill:none;stroke:var(--daaps-yellow);stroke-width:2.126;stroke-miterlimit:10;stroke-dasharray:326.9932,326.9932;}
.st7{fill:none;stroke:var(--daaps-yellow);stroke-width:2.126;stroke-miterlimit:10;stroke-dasharray:64.2276,64.2276;}
.st8{fill:none;stroke:var(--daaps-yellow);stroke-width:2.126;stroke-miterlimit:10;stroke-dasharray:180.1665,180.1665;}
.st9{fill:none;stroke:var(--daaps-yellow);stroke-width:2.126;stroke-miterlimit:10;stroke-dasharray:56.0518,56.0518;}
.st10{fill:var(--daaps-yellow);}
.st11{fill:none;stroke:var(--daaps-yellow);stroke-width:2.126;stroke-miterlimit:10;}
.st12{fill:var(--daaps-yellow);stroke:var(--daaps-green);stroke-width:2.126;stroke-miterlimit:10;}
.st13{fill:none;stroke:var(--daaps-green);stroke-width:2.126;stroke-miterlimit:10;}
.st14{fill:none;stroke:var(--daaps-green);stroke-width:2.126;stroke-linecap:round;stroke-linejoin:round;}
.st15{fill:none;stroke:var(--daaps-green);stroke-miterlimit:10;}
.st16{fill:none;stroke:var(--daaps-yellow);stroke-miterlimit:10;}
.st17{fill:none;stroke:var(--daaps-yellow);stroke-width:2.8346;stroke-miterlimit:10;}
.st18{stroke:var(--daaps-yellow);stroke-width:2.126;stroke-miterlimit:10;}
.st19{clip-path:url(#SVGID_2_);}

.starpathImage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: -1;
}

.rotate {
  animation: rotatingcircles 18s infinite;
}

.solidCircles {
  transform-origin: center;
}

.emptyCircles {
  transform-origin: center;
  animation: rotatingcircles 12s infinite;
}

.star1 {
  stroke-dasharray: 320 123 20;
  animation: trails 27s infinite;
  animation-delay: 400ms;
}

.star2 {
  stroke-dasharray: 120 40;
  animation: trails 20s infinite;
  animation-delay: 900ms;
}

.star3 {
  stroke-dasharray: 200 12 120;
  animation: trails 26s infinite;
  animation-delay: 1100ms;
}

.star4 {
  stroke-dasharray: 20 102 220;
  animation: trails 19s infinite;
  animation-delay: 400ms;
}

.star5 {
  stroke-dasharray: 200 12 120;
  animation: trails 22s infinite ;
  animation-delay: 800ms;
}

.star6 {
  stroke-dasharray: 100 12 120;
  animation: trails 18s infinite;
}

.star7 {
  stroke-dasharray: 200 12 120;
  animation: trails 20s infinite;
  animation-delay: 900ms;
}

.star8 {
  stroke-dasharray: 200 12 120;
  animation: trails 16s infinite;
  animation-delay: 1900ms;
}

.star9 {
  stroke-dasharray: 30 12 120;
  animation: trails 12s infinite;
  animation-delay: 900ms;
}

.yellowFill {
  fill: var(--daaps-yellow);
}