:root {
  --daaps-light: #f2f6f6;
  --daaps-yellow: #F1E297;
  --daaps-pink: #FCEEF4;
  --daaps-green: #004B55;
  --daaps-purple: #7860f7;
  --daaps-black: #000;
  --daaps-white: #fff;
  --daaps-gray: #C4C4C4;
  --daaps-dark-purple: #362b71;
  --plastic-aalt: "aalt" off;
  --plastic-case: "case" off;
  --plastic-frac: "frac" off;
  --plastic-ordn: "ordn" off;
  --plastic-ornm: "ornm" off;
  --plastic-salt: "salt" off;
  --plastic-ss01: "ss01" off;
  --plastic-ss02: "ss02" off;
  --plastic-sups: "sups" off;
}

@font-face {
  font-family: "Plastic Var";
  src: url('/fonts/PlasticGX.woff2') format('woff2-variations'),
    url('/fonts/PlasticGX.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
}

@font-face {
  font-family: "Plastic";
  src: url("/fonts/Plastic-SimpleRegular.eot") format("eot"),
    url("/fonts/Plastic-SimpleRegular.otf") format("otf"),
    url("/fonts/Plastic-SimpleRegular.woff") format("woff"),
    url("/fonts/Plastic-SimpleRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Jost Var";
  src: url("/fonts/Jost-VariableFont_wght.ttf") format('truetype-variations');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost Bold";
  src: url("/fonts/Jost-SemiBold.ttf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Italic.ttf");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes delayIn1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes delayIn2 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes delayIn3 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes fadeToBlack {
  0% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    filter: brightness(1);
  }

  50% {
    opacity: 1;
    filter: brightness(0);
  }

  100% {
    opacity: 0;
    filter: brightness(0);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes trails {
  0% {
    stroke-dasharray: 120 12 40;
  }

  50% {
    stroke-dasharray: 100 220 12;
  }

  100% {
    stroke-dasharray: 100 12 40;
  }
}

@keyframes rotatingcircles {
  0% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
}

html {
  height: -webkit-fill-available;
}

#__next {
  min-height: inherit;
  display: flex;
  flex-grow: 1;
}

p,
small {
  margin-bottom: 1rem;
}

a {
  color: var(--daaps-green);
  text-decoration: underline;
}

button,
[role="button"],
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  :hover, :focus {
    font-style: italic;
  }
}

h1 {
  font-family: 'Plastic Var', 'Plastic', monospace;
  font-variation-settings: "wght" 160;
  font-weight: 160;
}

h1 .char {
  --delay: calc((var(--char-index) + 1) * 200ms);
  animation: breathe 6000ms infinite both;
  animation-delay: var(--delay);
}

h1:hover span {
  animation-play-state: paused;
}

.subtitle {
  font-family: 'Plastic Var', 'Plastic', monospace;
  font-weight: 160;
  font-variation-settings: "SRIF" 0;
}

.font-serif {
  font-variation-settings: "SRIF" 0;
}

.title-arrow {
  position: relative;
  height: 4px;
  background-color: black;
  display: flex;
  align-self: center;
  margin-left: 1rem;
  border-radius: 4px;

  &:before {
    content: "";
    position: absolute;
    left: 1px;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background-color: black;
    transform: rotate(45deg);
    transform-origin: 0 0;
  }

  &:after {
    content: "";
    position: absolute;
    right: 1px;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background-color: black;
    transform: rotate(45deg);
    transform-origin: 100% 0;
  }
}

.splitting .word {
  white-space: nowrap;
}

.splitting .whitespace {
  min-width: 1ch;
}

@keyframes breathe {
  0% {
        font-variation-settings: "SRIF" 200;
        font-weight: 600;
  }
  60% {
        font-variation-settings: "SRIF" 999.953;
        font-weight: 160;
  }

  100% {
        font-variation-settings: "SRIF" 200;
        font-weight: 600;
  }
}

@keyframes chain {
  0% {
    font-variation-settings: "SRIF" 100;
  }

  100% {
    font-variation-settings: "SRIF" 1000;
  }
}

.btn {
  transition: all 0.1s ease-out;
  box-shadow: 4px 4px var(--daaps-green);
  cursor: pointer;

  &:focus, &:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px var(--daaps-green);
    outline: none;
    background-color: var(--daaps-yellow);
  }

  &-dark {
    transition: all 0.2s ease-out;
    box-shadow: 0 0 var(--daaps-yellow);
    cursor: pointer;

    &:hover {
      box-shadow: 4px 4px var(--daaps-yellow);
    }

    &:focus, &:active {
      transform: translate(2px, 2px);
      box-shadow: 2px 2px var(--daaps-yellow);
      outline: none;
    }
  }
}

.btn-flat {
  box-shadow: 0 0 var(--daaps-green);
}

.fancy-btn {
  transition: font-variation-settings 0.5s ease-in, font-weight 0.5s ease-in, box-shadow 0.2s ease-in;
  cursor: pointer;
  font-family: 'Plastic Var', 'Plastic', monospace;
  font-weight: 400;
  font-variation-settings: "SRIF" 0, "wght" 400;
  cursor: pointer;

  &:hover {
    font-weight: 400;
    font-variation-settings: "SRIF" 800, "wght" 400;
  }

  &:focus, &:active {
    font-weight: 400;
    font-variation-settings: "SRIF" 800, "wght" 400;
  }
}

.doorways {
  scroll-behavior: smooth;
}

.doorway {
  position: relative;
  width: 30vw;
  max-width: 200px;
  min-height: 200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  transform: scaleX(1.02);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);

  .doorway-content {
    transition: all 150ms ease-out;
    padding: 10px;
    background-color: var(--daaps-yellow);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 14px;
    flex-grow: 1;

    > div {
      text-align: center;
    }

    .eye-icon {
      height: 25px;
      width: 50px;
    }
  }

  &:after {
    content:'';
    position:absolute;
    width: calc(100% - 30px);
    box-shadow: 0px 0px 0px 200px var(--daaps-white), inset 5px 5px 20px rgba(0, 0, 0, 0.2);
    height: 100%;
    border-radius: 25vw 25vw 0 0;
    transition: all 0.1s ease-in;
    z-index: 0;
  }


  &:hover, &:focus {
    .doorway-content {
      opacity: 1;
    }
  }

  &:active, &:focus {
    outline: none;
  }
}

.doorway-outer {
  padding: 2vw;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.directions-panel {
  animation: fadein 0.4s ease-in;
}

.fade-in {
  animation: fadein 0.5s ease-in;
}

.fade-in-slow {
  animation: fadein 1s ease-in;
}

[hidden] {
  display: none;
}

.accordion [role="button"]:focus {
  outline: none;
  text-decoration: underline;
}

.prompt {
  opacity: 0;
  .card-number {
    font-family: 'Plastic Var', 'Plastic', monospace;
    font-weight: 1000;
  }

  .card-title {
    font-family: 'Plastic Var', 'Plastic', monospace;
    font-weight: 200;
    font-variation-settings: "SRIF" 200;
    animation: chain 6s infinite linear;
    animation-direction: alternate;
  }

  main {
    ol {
      list-style-type: decimal;
      margin-left: 1em;
      padding-left: 1em;
      margin-bottom: 1rem;
    }

    ul {
      list-style: initial;
      margin-left: 1em;
      padding-left: 1em;
      margin-bottom: 1rem;
    }
  }
}

.prompt.open {
  opacity: 1;
  animation: delayIn1 4s ease-in;
}

.prompt.open .card-bg {
  animation: fadein 4s ease-in;
}

.prompt.open .card {
  animation: delayIn2 4s ease-in;
}

.prompt.open .content {
  animation: delayIn3 4s ease-in;
}

.prompt.closed {
  opacity: 0;
  animation: fadeOut 1s ease-out;
}

.prompt {
  .bg-make {
    .card-bg {
      .bg-a {
        background-image: url('../public/images/cardbackground/card-make-a.svg');
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .bg-b {
        background-image: url('../public/images/cardbackground/card-make-b.svg');
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        animation: rotation 60s infinite linear;

      }

      .bg-c {
        background-image: url('../public/images/cardbackground/card-make-c.svg');
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}

.prompt {
  .bg-sense {
    .card-bg {
      .bg-a {
        background-image: url('../public/images/cardbackground/card-sense-a.svg');
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        animation: rotation 120s infinite linear;

      }

      .bg-b {
        background-image: url('../public/images/cardbackground/card-sense-b.svg');
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .bg-c {
        background-image: url('../public/images/cardbackground/card-sense-c.svg');
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;

      }
    }
  }
}

.prompt {
  .bg-care {
    .card-bg {
      .bg-a {
        background-image: url('../public/images/cardbackground/card-care-a.svg');
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;

      }

      .bg-b {
        background-image: url('../public/images/cardbackground/card-care-b.svg');
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .bg-c {
        background-image: url('../public/images/cardbackground/card-care-c.svg');
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}

.prompt {
  .bg-seek {
    .card-bg {
      .bg-a {
        background-image: url('../public/images/cardbackground/card-seek-a.svg');
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        animation: rotation 60s infinite linear;
      }

      .bg-b {
        background-image: url('../public/images/cardbackground/card-seek-b.svg');
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .bg-c {
        background-image: url('../public/images/cardbackground/card-seek-c.svg');
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}

.rotate {
  animation: rotation 60s infinite linear;
}

.bg-fade {
  background-image: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1))
}

.svg-img {
  vector-effect: non-scaling-stroke;
  height: 100%;
}

.dark-background {
  fill: var(--daaps-green);
}

.yellow-stroke {
  stroke: var(--daaps-yellow);
  stroke-width: 2px;
  stroke-miterlimit: 10;
  fill: none;
}

.dark-stroke {
  stroke: var(--daaps-green);
  stroke-width: 2px;
  stroke-miterlimit: 10;
  fill: none;
}

.dark-fill {
  fill: var(--daaps-green);
}

.yellow-fill {
  fill: var(--daaps-yellow);
}

.scroll-btn-container {
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  bottom: 40px;
  left: 0;
  z-index: 50;
}

.scroll-btn {
  background-color: var(--daaps-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 40px;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  font-size: 1rem;

  &:hover, &:focus {
    outline: none;

    .scroll-arrow-icon {
      animation: wiggle 80ms linear;
      animation-direction: alternate;
      animation-iteration-count: 6;
    }
  }

  &:focus {
    background-color: var(--daaps-yellow);
  }
}

.tab {
  &.tab-selected {
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);

    .tab-title {
      color: var(--daaps-green);
    }
  }


  .tab-title {
    cursor: pointer;

    &:focus {
      outline: none;
      color: var(--daaps-green);

      .dot {
        background-color: var(--daaps-green);
      }
    }
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

@keyframes nudge {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.scroll-arrow-icon {
  height: 20px;
  width: 20px;
  display: inline-flex;

  .icon {
    fill: none;
    stroke: var(--daaps-green);
    stroke-miterlimit:10;
  }
}

@media screen and (min-width: 640px) {
  .btn {
    box-shadow: 0 0 var(--daaps-green);

    &:hover {
      box-shadow: 4px 4px var(--daaps-green);
    }
  }
  .scroll-btn-container {
    position: absolute;
    left: unset;
    right: 40px;
    top: calc(50% - 20px);
    bottom: unset;
    width: auto;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }

  .prompt .card-container {
    max-width: 350px;
    height: calc(100vh - 60px);
    max-height: 700px;
  }

  .doorway {
    width: 13vw;
    min-width: 120px;
    max-width: 180px;
  }

  .doorway-outer {
    padding: 1.4vw;
  }

  .rotate-tab-title {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(90deg);
    transform-origin: 20px 42px;
    white-space: nowrap;
    width: calc(100vh - 3rem);
  }

  .tab-title {
    &:focus {
      outline: none;
      color: var(--daaps-green);

      .dot {
        background-color: var(--daaps-green);
      }
    }
  }

  .tab {
    .tab-heading {
      transition: all 0.2s ease-in;
    }

    &:hover {
      .tab-heading {
        background-color: var(--daaps-yellow);
      }
    }

    &:focus {
      .dot {
        background-color: var(--daaps-green);
      }

      .tab-title {
        outline: none;
      }
    }

    &.tab-selected {
      box-shadow: inset 0 -2px 4px rgba(0,0,0,0.3);

      .tab-heading {

      }
    }
  }
}


@media screen and (max-width: 640px) {

}