@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

p, small {
  margin-bottom: 1rem;
}

a {
  color: #fcd108;
  text-decoration: underline;
}

.daaps-yellow {
  background: #F1E297;
}