:root {
  --daaps-yellow: #F1E297;
  --daaps-pink: #FCEEF4;
  --daaps-green: #004B55;
  --daaps-purple: #7860f7;
  --daaps-black: #000;
  --daaps-white: #fff;
  --daaps-gray: #C4C4C4;
  --daaps-dark-purple: #362b71;
  --plastic-aalt: "aalt" off;
  --plastic-case: "case" off;
  --plastic-frac: "frac" off;
  --plastic-ordn: "ordn" off;
  --plastic-ornm: "ornm" off;
  --plastic-salt: "salt" off;
  --plastic-ss01: "ss01" off;
  --plastic-ss02: "ss02" off;
  --plastic-sups: "sups" off;
}

@font-face {
  font-family: "Plastic";
  src: url("/fonts/Plastic-SimpleRegular.eot") format("eot"),
    url("/fonts/Plastic-SimpleRegular.otf") format("otf"),
    url("/fonts/Plastic-SimpleRegular.woff") format("woff"),
    url("/fonts/Plastic-SimpleRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost Bold";
  src: url("/fonts/Jost-SemiBold.ttf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes delayIn1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes delayIn2 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes delayIn3 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes fadeToBlack {
  0% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    filter: brightness(1);
  }

  50% {
    opacity: 1;
    filter: brightness(0);
  }

  100% {
    opacity: 0;
    filter: brightness(0);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  background-color: var(--daaps-green);
}

html {
  height: -webkit-fill-available;
}

#__next {
  min-height: inherit;
  display: flex;
  flex-grow: 1;
}

p,
small {
  margin-bottom: 1rem;
}

a {
  color: var(--daaps-green);
  text-decoration: underline;
}

.btn {
  transition: all 0.2s ease-out;
  box-shadow: 0 0 var(--daaps-green);
  cursor: pointer;

  &:hover {
    box-shadow: 4px 4px var(--daaps-green);
  }

  &:focus, &:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px var(--daaps-green);
    outline: none;
  }

  &-dark {
    transition: all 0.2s ease-out;
    box-shadow: 0 0 var(--daaps-yellow);
    cursor: pointer;

    &:hover {
      box-shadow: 4px 4px var(--daaps-yellow);
    }

    &:focus, &:active {
      transform: translate(2px, 2px);
      box-shadow: 2px 2px var(--daaps-yellow);
      outline: none;
    }
  }
}

.doorway {
  position: relative;
  width: 30vw;
  max-width: 200px;
  min-height: 200px;
  padding: 15px;
  display: flex;
  overflow: hidden;
  transition: all 3s ease-out;
  transform: scaleX(1.02);

  &:after {
    content:'';
    position:absolute;
    box-shadow: 0px 0px 0px 2000px var(--daaps-white);
    height: 100%;
    width: calc(100% - 30px);
    border-radius: 25vw 25vw 0 0;
  }


  &:hover, &:focus {
    .background {
      filter: brightness(1.5);
    }
  }

  &:active, &:focus {
    outline: none;
  }

  .foreground {
    height: 100%;
    width: 100%;
    border-radius: 25vw 25vw 0 0;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.35);
    border-bottom: none;
    position: relative;
  }

  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 25vw 25vw 0 0;
    transition: all 0.3s ease-in-out;
    /*background-image: url("../public/images/app-background-01.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
  }

  .depth {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    /*background-image: linear-gradient(80deg, rgba(0,0,0,0.25), rgba(0,0,0,0.75));*/
    border-radius: 25vw 25vw 0 0;
  }
}

.doorway-outer {
  padding: 2vw;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.directions-panel {
  animation: fadein 0.4s ease-in;
}

.react-tabs__tab-panel--selected {
  animation: fadein 0.4s ease-in;
  padding-bottom: 4rem;
}

.fade-in {
  animation: fadein 0.5s ease-in;
}

.fade-in-slow {
  animation: fadein 1s ease-in;
}

[hidden] {
  display: none;
}

.accordion [role="button"]:focus {
  outline: none;
  text-decoration: underline;
}

.prompt {
  opacity: 0;
}

.prompt.open {
  opacity: 1;
  animation: delayIn1 4s ease-in;
}

.prompt.open .card-bg {
  animation: fadein 4s ease-in;
}

.prompt.open .card {
  animation: delayIn2 4s ease-in;
}

.prompt.open .content {
  animation: delayIn3 4s ease-in;
}

.prompt.closed {
  opacity: 0;
  animation: fadeOut 1s ease-out;
}

.prompt .bg-make {
}

.prompt .bg-make .card-bg {
  /*background-size: 320%;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;*/
}

.prompt {
  .bg-make {
    .card-bg {
      .bg-a {
        background-image: url('../public/images/card1a.svg');
        background-size: 110%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.8;
        animation: rotation 60s infinite linear;
      }

      .bg-b {
        background-image: url('../public/images/card1b.svg');
        background-size: 110%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.4;
      }

      .bg-c {
        background-image: url('../public/images/card1c.svg');
        background-size: 110%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.5;
      }
    }
  }
}

.prompt {
  .bg-sense {
    .card-bg {
      .bg-a {
        background-image: url('../public/images/card2a.svg');
        background-size: 110%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.5;
      }

      .bg-b {
        background-image: url('../public/images/card2b.svg');
        background-size: 110%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.5;
      }

      .bg-c {
        background-image: url('../public/images/card2c.svg');
        background-size: 110%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.5;
      }
    }
  }
}

.prompt {
  .bg-care {
    .card-bg {
      .bg-a {
        background-image: url('../public/images/card3c.svg');
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.8;
        animation: rotation 60s infinite linear;
      }

      .bg-b {
        background-image: url('../public/images/card3b.svg');
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.8;
      }

      .bg-c {
        background-image: url('../public/images/card3d.svg');
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.8;
      }
    }
  }
}

.prompt {
  .bg-navigate {
    .card-bg {
      .bg-a {
        background-image: url('../public/images/card4a.svg');
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.5;
      }

      .bg-b {
        background-image: url('../public/images/card4b.svg');
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.9;
        animation: rotation 30s infinite linear;
      }

      .bg-c {
        background-image: url('../public/images/card4c.svg');
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.9;
      }
    }
  }
}

.rotate {
  animation: rotation 60s infinite linear;
}

.bg-fade {
  background-image: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1))
}

.bg-image {
  background-image: url('../public/doors-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

.parallax-layer {
  &:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100% 100%;
    z-index: -1;
    transform-origin-x: right;
    -webkit-transform-origin-x: right;
    -webkit-transform-origin-y: bottom;
  }
}

.app-background {
  &:after {
    background-image: url("../public/images/app-background-02.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-attachment: inherit;
    background-clip: content-box;
    background-position: left center;
  }
}

.parallax-layer-base {
  &:after {
    transform: translateZ(-1px) scale(2);
    -webkit-transform: translateZ(-1px) scale(2);
    -moz-transform: translateZ(-1px) scale(1);
    -ms-transform: translateZ(-1px) scale(1);
    -o-transform: translateZ(-1px) scale(1);
  }
}

.parallax-layer-back {
  &:after {
    transform: translateZ(-2px) scale(2);
    -webkit-transform: translateZ(-2px) scale(2);
    -moz-transform: translateZ(-2px) scale(1);
    -ms-transform: translateZ(-2px) scale(1);
    -o-transform: translateZ(-2px) scale(1);
  }
}

.svg-img {
    stroke-width: 1.5px;
    fill: none;
    stroke: #F1E297;
    stroke-miterlimit: 10;
    width: 400px;
    padding: 20px;
}


@keyframes trails {
  0% {
        stroke-dasharray: 120 12 40;
    }

  50% {
        stroke-dasharray: 100 220 12;
    }
    100% {
        stroke-dasharray: 100 12 40;
  }
}

@keyframes rotatingcircles {
    0% {
        transform: rotate(0deg);
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);

    }
}

.starpath-image{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1;
}

.starpaths {
    transition-duration: 1s;
}

.starpaths #solid-circles {
    transform-origin: center;
animation: rotatingcircles 18s infinite;
}

.starpaths #empty-circles {
    transform-origin: center;
animation: rotatingcircles 12s infinite;
}

.starpaths #star1 {
    stroke-dasharray: 320 123 20;
    animation: trails 27s infinite;
    animation-delay: 400ms;}

.starpaths #star2 {
    stroke-dasharray: 120 40;
    animation: trails 20s infinite;
    animation-delay: 900ms;

    }

.starpaths #star3 {
    stroke-dasharray: 200 12 120;
    animation: trails 12s infinite;
    animation-delay: 1100ms;
}

.starpaths #star4 {
    stroke-dasharray: 20 102 220;
    animation: trails 15s infinite;
    animation-delay: 400ms;
 }

.starpaths #star5 {
    stroke-dasharray: 200 12 120;
    animation: trails 16s infinite ;
    animation-delay: 800ms;
 }

.starpaths #star6 {
    stroke-dasharray: 100 12 120;
    animation: trails 15s infinite;
 }

.starpaths #star7 {
    stroke-dasharray: 200 12 120;
    animation: trails 20s infinite;
    animation-delay: 900ms;

}
.starpaths #star8 {
    stroke-dasharray: 200 12 120;
    animation: trails 12s infinite;
    animation-delay: 1900ms;

}
.starpaths #star9 {
    stroke-dasharray: 30 12 120;
    animation: trails 8s infinite;
    animation-delay: 900ms;

}

.bg-texture {
  background-image: url('../public/images/texture.png');
  background-repeat: repeat;
}

.bg-texture-grey {
  background-image: url('../public/images/texture-grey.png');
  background-repeat: repeat;
}

@media screen and (min-width: 640px) {
  .prompt .card-container {
    max-width: 350px;
    height: calc(100vh - 60px);
    max-height: 700px;
  }

  .doorway {
    width: 13vw;
    min-width: 120px;
    max-width: 180px;
  }

  .doorway-outer {
    padding: 1.4vw;
  }

  .parallax {
    perspective: 1px;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    width: 100%;
    perspective-origin-x: 100%;
    -webkit-perspective-origin-x: right;
    -webkit-perspective-origin-y: bottom;
  }

  .parallax-layer-back {
    &:after {
      transform: translateZ(-2px) scale(3);

    }
  }

  .rotate-tab-title {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(90deg);
    transform-origin: 5px 30px;
    white-space: nowrap;
    width: calc(100vh - 3rem);
  }
}


@media screen and (max-width: 640px) {
  .parallax-wrapper {
    width: 100vw;
    overflow-y: hidden;
    overflow-x: auto;
    perspective: 2px;
    display: flex;
    perspective-origin-x: 100%;
    -webkit-perspective-origin-x: right;
    -webkit-perspective-origin-y: bottom;
  }
}